<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{#if _TITLE_}}{{_TITLE_}} · {{/if}}帕不怕</title>
<link rel="stylesheet" href="/vendor/weui/dist/style/weui.min.css"/>
<link rel="stylesheet" href="//at.alicdn.com/t/font_1469675230_2903802.css"/>
<link rel="stylesheet" href="/css/mobile/app.css"/>
{{{inject "vendor_css"}}}