{{#block "vendor_js"}}
<script src="/vendor/plupload/js/plupload.full.min.js"></script>
<script src="/vendor/qiniu/dist/qiniu.min.js"></script>
{{/block}}

{{#block "vendor_css"}}
<link rel="stylesheet" href="/vendor/blueimp-file-upload/css/jquery.fileupload.css"/>
{{/block}}

<script>console.log({{{json}}})</script>

<div class="content-heading">
  <div class="pull-right">
    <a href="javascript:;" class="btn btn-sm btn-primary" name="submitAuthorBtn">提交作者信息</a>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li>
      <a href="/admin/author">作者管理</a>
    </li>
    <li class="active">
      <span>创建作者</span>
    </li>
  </ol>
</div>

<div class="panel panel-default" data-js-comp="component/author/create">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <p class="lead bb pb-sm">形象</p>
        <img src="" style="width: 100%" id="avatar-preview">
        <div class="col-md-12 text-center" id='avatar-container'>
          <a href="javascript:;" class="btn btn-primary" id="avatar-upload-btn">
            <span>上传形象</span>
          </a>
        </div>
      </div>
      <div class="col-md-9">
        <p class="lead bb pb-sm">个人信息</p>
        <form class="form-horizontal p-20" name="authorForm">
          <div class="form-group">
            <label class="col-lg-2 control-label">头像</label>
            <div class="col-lg-8" id='icon-container'>
              <img src="" style="width: 64px" id="icon-preview">
              <a href="javascript:;" class="btn btn-primary" id="icon-upload-btn">
                <span>上传头像</span>
              </a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">姓名</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入姓名" class="form-control" name="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">电话</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入电话" class="form-control" name="phone">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">邮件</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入邮件" class="form-control" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">QQ</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入QQ" class="form-control" name="qq">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">微信</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入微信" class="form-control" name="wechat">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">介绍</label>
            <div class="col-lg-8">
              <textarea placeholder="请输入介绍" class="form-control" style="height: 100px; resize: none;" name="introduction"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>