{{#block "vendor_js"}}
<script src="/vendor/plupload/js/plupload.full.min.js"></script>
<script src="/vendor/qiniu/dist/qiniu.min.js"></script>
<script src="/vendor/cropper/dist/cropper.min.js"></script>
{{> crop-modal}}
{{/block}}

{{#block "vendor_css"}}
<link rel="stylesheet" href="/vendor/cropper/dist/cropper.min.css">
{{/block}}

<script>console.log({{{json}}})</script>

<div class="content-heading">
  <div class="pull-right">
    <a href="javascript:;" class="btn btn-sm btn-primary" name="submitAuthorBtn">提交</a>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li>
      <a href="/author">作者管理</a>
    </li>
    <li class="active">
      <span>创建作者</span>
    </li>
  </ol>
</div>

<div class="panel panel-default" data-js-comp="component/author/create">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <p class="lead bb pb-sm">形象</p>
        <div id="avatar-upload-btn" class="btn btn-default pt0 ph0 bg-gray" style="width:100%; padding-bottom: 126.47%;">
          <div style="position: absolute; top:0; bottom:0; left:0; right:0;" id="avatar-preview">
            <em class="fa fa-child fa-4x text-muted" style="margin-top: 50%;"></em>
            <div class="img-preview avatar-preview hidden" style="width: 100%; height: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <p class="lead bb pb-sm">个人信息</p>
        <form class="form-horizontal p-20" id="author-form">
          <div class="form-group">
            <label class="col-lg-2 control-label">头像</label>
            <div class="col-lg-8" id='icon-container'>
              <div id="icon-upload-btn" class="btn btn-default p0 bg-gray" style="width:64px; height: 64px;">
                <div style="line-height: 64px;" id="icon-preview">
                  <em class="fa fa-user fa-2x text-muted" style="line-height:64px;"></em>
                  <div class="img-preview icon-preview hidden" style="width:64px; height: 64px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">姓名</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入姓名" class="form-control" name="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">资料集</label>
            <div class="col-lg-5">
              <div class="input-group">
                <span type="text" class="form-control" name="uploadFilePath"><span class="text-placeholder">请选择文件</span></span>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="resource-upload-btn">选择文件</button>
                </span>
              </div>
            </div>
            <label class="col-lg-1 control-label">价格</label>
            <div class="col-lg-2">
              <input type="number" placeholder="请输入" class="form-control" name="attachmentCost" min="0" max="1000000">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">联系价格</label>
            <div class="col-lg-5">
              <input type="number" placeholder="请输入联系价格" class="form-control" name="contactCost" min="0" max="1000000">
            </div>
            <div class="col-lg-3 pt-sm">
              <small class="text-muted">价格最高计1,000,000元</small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">电话</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入电话" class="form-control" name="phone">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">邮件</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入邮件" class="form-control" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">QQ</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入QQ" class="form-control" name="qq">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">微信</label>
            <div class="col-lg-8">
              <input type="text" placeholder="请输入微信" class="form-control" name="wechat">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">介绍</label>
            <div class="col-lg-8">
              <textarea placeholder="请输入介绍" class="form-control" style="height: 100px; resize: none;" name="introduction"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>