<div class="abs-center wd-xl">
  <div class="text-center mb-xl">
    <div class="text-lg mb-lg">404</div>
    <p class="lead m0">找不到该页面</p>
    <p>您所访问的页面不存在</p>
  </div>
  <ul class="list-inline text-center text-sm mb-xl">
    <li><a href="/dashboard" class="text-muted">返回主页</a>
    </li>
    <li class="text-muted">|</li>
    <li><a href="/signIn" class="text-muted">登录</a>
    </li>
  </ul>
  <div class="p-lg text-center">
    <span>&copy;</span> <span>2016</span> <span>-</span>
    <span>Course+运营平台</span><br>
    <span>南京一可米互联网科技有限公司</span>
  </div>
</div>