<div class="abs-center wd-xl">
  <!-- START panel-->
  <div class="text-center mb-xl">
    <div class="text-lg mb-lg">{{error.status}}</div>
    <p class="lead m0">服务器处理出现了问题</p>
    <p>{{message}}</p>
    <pre>{{error.stack}}</pre>
  </div>
  <ul class="list-inline text-center text-sm mb-xl">
    <li><a href="/dashboard" class="text-muted">返回主页</a>
    </li>
    <li class="text-muted">|</li>
    <li><a href="/signIn" class="text-muted">登录</a>
    </li>
  </ul>
  <div class="p-lg text-center">
    <span>&copy;</span> <span>2016</span> <span>-</span>
    <span>Course+后台管控平台</span><br>
    <span>南京一可米互联网科技有限公司</span>
  </div>
</div>