{{#block "vendor_js"}}
  <script src="/vendor/shake.js/shake.js"></script>
{{/block}}

<h1>Shake to Undo</h1>



<script type="text/javascript">
window.onload = function() {
  var total = 0;
  //create a new instance of shake.js.
  var myShakeEvent = new Shake({
    threshold: 8,
    timeout: 250
  });

  // start listening to device motion
  myShakeEvent.start();

  // register a shake event
  window.addEventListener('shake', shakeEventDidOccur, false);

  //shake event callback
  function shakeEventDidOccur () {
     total++;
    //put your own code here etc.
    $('h1').text(total);
  }
};
</script>