<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="description" content="Course+"/>
<title>{{#if _TITLE_}}{{_TITLE_}} | {{/if}}Course+</title>
<!-- =============== VENDOR STYLES ===============-->
<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/vendor/animate.css/animate.min.css"/>
<link rel="stylesheet" href="/vendor/whirl/dist/whirl.css"/>
<link rel="stylesheet" href="/vendor/sweetalert/dist/sweetalert.css"/>
<link rel="stylesheet" href="/vendor/selectize/dist/css/selectize.default.css"/>
<link rel="stylesheet" href="/vendor/select2/dist/css/select2.css"/>
<!-- =============== PAGE VENDOR STYLES ===============-->
{{{inject "vendor_css"}}}
<!-- =============== BOOTSTRAP STYLES ===============-->
<link rel="stylesheet" href="/css/bootstrap.css" id="bscss"/>
<!-- =============== APP STYLES ===============-->
<link rel="stylesheet" href="/css/app.css" id="maincss"/>
<link rel="stylesheet" href="/css/theme-a.css" id="maincss"/>