{{#block "vendor_css"}}
{{/block}}

<script>console.log({{{json}}})</script>
<div class="content-heading">
  <ol class="breadcrumb">
    <li>
      <span>控制台</span>
    </li>
  </ol>
</div>

<p class="lead bb pb-sm">正在开发...</p>
<div class="row">
  <!--日期-->
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel widget" data-js-comp="component/index/clock">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-green pv-lg">
          <div data-now="" class="text-sm" name='month'>--</div>
          <br>
          <div data-now="" class="h2 mt0" name='date'>--</div>
        </div>
        <div class="col-xs-8 pv-lg">
          <div data-now="" class="text-uppercase" name='day'>---</div>
          <br>
          <div data-now="" class="h2 mt0" name='time'>--:--:--</div>
        </div>
      </div>
    </div>
  </div>
</div>
