<!DOCTYPE html>
<html lang="zh">
<head>
  {{> head }}
</head>
<body>
<div class="loader hidden">
  <div class="whirl traditional"></div>
</div>
<div class="wrapper">
  <header class="topnavbar-wrapper">
    {{> top-navbar }}
  </header>
  <aside class="aside">
    {{> sidebar }}
  </aside>
  <section style='margin-bottom: 0 !important;'>
    <div class="content-wrapper">
      {{{ body }}}
    </div>
  </section>
  <!-- <footer>
    {{> footer }}
  </footer> -->
</div>
{{> scripts }}
</body>
</html>
