<!DOCTYPE html>
<html lang="zh">
<head>
  {{> head }}
</head>
<body>
<div class="loader" style="display: none;">
  <div class="whirl traditional"></div>
</div>
<div class="wrapper">
  {{{ body }}}
</div>
{{> scripts }}
</body>
</html>
